<h2 class="page-header my-4">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="name-input">Name</label>
    <input
      type="text"
      id="name-input"
      name="name"
      class="form-control"
      [(ngModel)]="user.name"
    />
  </div>
  <div class="form-group">
    <label for="username-input">Username</label>
    <input
      type="text"
      id="username-input"
      name="username"
      class="form-control"
      [(ngModel)]="user.username"
    />
  </div>
  <div class="form-group">
    <label for="email-input">Email</label>
    <input
      type="text"
      id="email-input"
      name="email"
      class="form-control"
      [(ngModel)]="user.email"
    />
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input
      type="password"
      id="password-input"
      name="password"
      class="form-control"
      [(ngModel)]="user.password"
    />
  </div>
  <input
    type="submit"
    value="Register"
    class="btn btn-primary mt-3 p-2"
    style="min-width: 15vw"
  />
</form>
