<h2 class="page-header my-4">Change Credentials</h2>
<form (submit)="changeCredentials()">
  <div class="form-group">
    <label for="change-creds-username-input">New Username</label>
    <input
      type="text"
      name="username"
      id="change-creds-username-input"
      class="form-control"
      [(ngModel)]="user.username"
    />
  </div>
  <div class="form-group">
    <label for="change-creds-password-input">New Password</label>
    <input
      type="password"
      name="password"
      id="change-creds-password-input"
      class="form-control"
      [(ngModel)]="user.password"
    />
  </div>
  <input
    type="submit"
    value="Change Credentials"
    class="btn btn-primary mt-3 p-2"
    style="min-width: 15vw"
  />
</form>
