<div class="text-center mt-3 mb-3 p-5" style="background-color: #2322">
  <div class="bg-dark text-light p-5 text-center">
    <div class="py-5">
      <h1 class="display-5 text-info text-break">MEAN RESTaurant</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Our modern website has our up to date menu and opening hours. We
          welcome you to our restaurant with joy!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a routerLink="/menu" class="btn btn-info login-button">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-5 text-center">
  <table class="table">
    <thead>
      <tr class="text-black">
        <th scope="col">Day</th>
        <th scope="col">Opening hours</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark">
        <th scope="row">Monday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-primary">
        <th scope="row">Tuesday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Wednesday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-primary">
        <th scope="row">Thursday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Friday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-primary">
        <th scope="row">Saturday</th>
        <td>12:00 - 16:00</td>
      </tr>
      <tr class="table-dark">
        <th scope="row">Sunday</th>
        <td>12:00 - 16:00</td>
      </tr>
    </tbody>
  </table>
</div>
