<div class="bg-light text-center mt-3 mb-3 p-5">
  <h1>Welcome to our RESTaurant</h1>
  <p class="lead">Here you can find our menu and reserve a table!</p>
  <div>
    <a routerLink="/register" class="btn btn-primary p-3 register-button m-1"
      >Register</a
    >
    <a routerLink="/login" class="btn btn-dark p-3 login-button m-1">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Mongo/Express/Node server.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular</h3>
    <p>A rock solid frontend made with Angular.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>
      A rock solid authentication implemented with JWT tokens and Passport.js
      Node package.
    </p>
  </div>
</div>
