<div class="text-center mt-3 mb-3 p-5" style="background-color: #2322">
  <div class="bg-dark text-light p-5 text-center">
    <div class="py-5">
      <h1 class="display-5 text-info text-break">MEAN RESTaurant</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Our modern website has our up to date menu and opening hours. We
          welcome you to our restaurant with joy!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a routerLink="/menu" class="btn btn-info login-button">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-5 text-center">
  <table class="table">
    <thead>
      <tr class="text-black">
        <th scope="col">Day</th>
        <th scope="col">Opening hours</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let key of getOpeningHoursKeys(); even as even">
        <tr *ngIf="!even" class="table-primary">
          <th scope="row">{{ key }}</th>
          <td>{{ openingHours?.[key] }}</td>
        </tr>
        <tr *ngIf="even" class="table-dark">
          <th scope="row">{{ key }}</th>
          <td>{{ openingHours?.[key] }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="isUserAuthenticated()">
  <hr class="border border-primary border-1 opacity-100 my-5" />
  <h2 class="mb-4">Modify opening hours</h2>
  <form #f="ngForm" (submit)="updateOpeningHour()">
    <label for="day-selection" class="form-label mt-4">Select a day</label>
    <select
      class="form-select"
      id="day-selection"
      name="days"
      [(ngModel)]="selectedDay"
    >
      <option *ngFor="let day of getOpeningHoursKeys()" [ngValue]="day">
        {{ capitalize(day) }}
      </option>
    </select>
    <div class="form-group my-3">
      <label for="menu-newitem-name-input"
        >Set the opening hour (free form text)</label
      >
      <input
        type="text"
        name="opening-hour"
        id="opening-hour-input"
        placeholder="08:00 - 16:00"
        class="form-control"
        [(ngModel)]="openingHour"
      />
    </div>
    <input
      type="submit"
      value="Update opening hour"
      class="btn btn-primary my-3 p-2"
      style="min-width: 15vw"
    />
  </form>
</div>
